<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Zero Waste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <a class="navbar-brand" th:href="@{/}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:class="${activePage == 'info'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/info}">Info<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:class="${activePage == 'contact'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'company'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/company}">Company</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'announcements'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/announcements}">Announcements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products/list}">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products/showFormForAddProduct}">Add Product</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <!-- Jeśli użytkownik NIE jest zalogowany -->
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="btn btn-outline-light" th:href="@{/login}">Login</a>
            </li>

            <!-- Jeśli użytkownik jest zalogowany -->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle btn btn-outline-light" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" th:href="@{/accountDetails}">Your Account</a>
                    <div class="dropdown-divider"></div>
                    <form th:action="@{/logout}" method="post" style="margin: 0;">
                        <!-- Token CSRF -->
                        <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
